<% provide(:title, @use.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="use_info">
      <h1>
        <%= gravatar_for @use %>
        <%= @use.name %>
      </h1>
    </section>
  </aside>
</div>