// Place all the styles related to the PictureFrames controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mymarginframe{background-color: #66FFFF;}



.style_image1{
    position: absolute;
    object-fit: cover;
    overflow: hidden;
}


.style_image_frame1{

position: relative;  
width:100%;


 }

.style_image2{


    position: absolute;
	object-fit: cover;
    overflow: hidden;

}

.style_image_frame2{
position: relative;     
width:100%;

}



.style_image3{
    position: absolute;
    object-fit: cover;
    overflow: hidden;
}


.style_image_frame3{

position: relative;  
width:100%;


 }
 
.cover{


overflow:hidden;
}

.index_frame_container{
position: relative;
width:100%;
height:100%;

}